html
{
    height: 100%;
}


body
{
    background-color: white;
    min-height: 100%;
    margin:0%;
}

.container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.big-stripe
{
    display: flex;
    min-height: 100px;
    min-width: none;
    background-color: orange;
}

.info-buttons
{
    display: flex;
    flex-direction: row;
    background-color: thistle;
    min-height: 50px; 
    min-width: none;    
}

