html, body{
    height: 100%;
    width: 100%;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80%;
    width: 80%;
}

.Row
{
    display: flex;
    height: 400px;
    width: 1000px;

    background-color: lightblue;
}

.SquareElement
{
    height: 100%;
    width: 33%;

    border: 1px solid black;

    background-color: lightcoral;
}