html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0c7c7;

}

#container
{
    height: 760px;
    width: 470px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


border-radius: 50px;
background: #f0c7c7;
box-shadow:  -33px 33px 66px #cca9a9,
             33px -33px 66px #ffe5e5;
}

.Rock,.Paper,.Scissors
{
    height: 72px;
    width: 72px;
}

.player,.computer
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 190px;
    width: 117px;

    border-radius: 20px;
    background: #f0c7c7;
    box-shadow:  -33px 33px 66px #cca9a9,
                33px -33px 66px #ffe5e5;
}

.computer .Rock,.Paper,.Scissors
{
    order:2;
}