.header {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.torso {
  display: flex;
  flex-direction: row;

  height: 800px;
}

.sidebar {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stuff {
  width: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";

  justify-content: center;
  align-items: center;

}

.stuff>div {

  height: 80%;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 5%;
}

.stuff>div:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.top-left {
  grid-area: top-left;
}

.top-right {
  grid-area: top-right;
}

.bottom-left {
  grid-area: bottom-left;
}

.bottom-right {
  grid-area: bottom-right;
}